.scroll-bar {
    text-align: center;

    .title {
        width: 228px;
        height: 48px;
        font-size: 18px;
        box-sizing: border-box;
        justify-content: start;
        border-radius: 4px;
        text-align: left;
        box-shadow: none;
        margin-bottom: 8px;
        margin-top: 8px;

    }
}

.nav-bar{
    top: 79px !important;
}