html {
  overflow: auto;

  &.font_generally {
    font-size: 16px;
  }

  &.font_mid {
    font-size: 18px;
  }

  &.font_big {
    font-size: 20px;
  }

  font-size: 16px;
  font-family: "Noto Sans CJK TC",
  sans-serif !important;
  font-weight: 500;
  color: $text_color;

  body {
    // .v-main {
    //   --v-layout-top: 45px !important;
    //   --v-layout-left: 150px !important;
    //   --v-layout-right: 30px !important;
    //   padding-right: 0px;
    // }

    position: relative;
    overflow: hidden;

    .v-navigation-drawer {
      border-color: $border-color;
      color: $secondary;
    }
  }

  .v-list-item--nav {
    .v-list-item-title {
      font-size: 1rem;
    }
  }

  .v-card-text {
    font-size: 1rem;
  }

  .v-btn--size-default {
    font-size: 1rem;
  }

  .primary {
    color: $primary;
  }

  .warning {
    color: $warning;
  }

  .ub_50 {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;

    >div {
      display: flex;
      flex: 1;
      height: 100%;
      flex-direction: column;

      .title_h2 {
        margin-top: $h2_font_size * 0.5;
        margin-bottom: 0;
        height: $h2_font_size * 2;
        flex: 0 0 $h2_font_size * 2;
        left: $h2_font_size * 1.2;
      }

      .hav_title_h2 {
        flex: 1;

        >div {
          height: 100%;
        }
      }
    }
  }

  .ub_100 {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;

    >div {
      display: flex;
      flex: 1;
      height: 100%;
      flex-direction: column;
      margin: 0;

      .title_h2 {
        margin-top: $h2_font_size * 0.5;
        margin-bottom: 0;
        height: $h2_font_size * 2;
        flex: 0 0 $h2_font_size * 2;
        left: $h2_font_size * 1.2;
      }

      .hav_title_h2 {
        flex: 1;
        height: 100%;
      }
    }
  }

}

@media print {

  body{
    padding: 0;
    margin: 0;
    overflow: hidden;
  }


  .v-main {
    padding-top: 0px !important;
  }
}