@font-face {
    font-family: "Noto Sans CJK TC";
    font-weight: 400;
    src: local("Noto Sans CJK TC"), url("../../assets/woff/NotoSansTC/NotoSansTC-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Noto Sans CJK TC";
    font-weight: 500;
    src: local("Noto Sans CJK TC"), url("../../assets/woff/NotoSansTC/NotoSansTC-Medium.otf") format("opentype");
}