.search-select {
    .v-field__input {
        padding-top: 0px;
    }

    .v-field__append-inner {
        height: 40px;
    }

    .v-select__selection {
        padding: 8px;
        margin: 0 !important;
    }
}


.v-field__field {
    .v-field__input {
        padding: 0px;
        min-height: 34px;
    }

}

.v-text-field input {
    box-sizing: border-box;
    width: 150px;
    height: 34px;
    // background: #ffffff;
    // border: 1px solid #c2c2c2;
    border-radius: 0px;
    padding: 8px;
    font-family: "Noto Sans CJK TC";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 0px !important;
    // color: $secondary !important;
}
.v-field__field .v-field__input{
  padding: 4px;
}

.v-input__details {
    align-items: center;
    padding-left: 0;
    overflow: visible !important;
}

.v-field--variant-filled .v-field__outline::before {
    content: none !important;
}

.v-field.v-field--focused .v-field__outline::after {
    content: none !important;
}

.v-text-field .v-input__details {
    padding-inline-start: 0px !important;
    padding-inline-end: 0px !important;
}

.v-selection-control--disabled .v-selection-control__input > .v-icon{
    opacity: 0 !important;
}