.v-pagination__list {
    justify-content: flex-end !important;
    width: 400px !important;
}

.pt-2 {
    padding-top: 20px !important;
    display: flex;
    justify-content: flex-end;
}

.v-btn--icon.v-btn--density-default {
    width: 32px;
    height: 32px;
}

.v-pagination__item,
.v-pagination__first,
.v-pagination__prev,
.v-pagination__next,
.v-pagination__last {
    margin: 1px 0;
}