$primary: #b7181f !default;
$secondary: #333 !default;
$background: #f5f5f5 !default;
$danger: #db1d25 !default;
$warning: #f9be00 !default;
$success: #720b10 !default;
$info: #D6D6D6 !default;
$light: #fbecea !default;
$dark: #185a7d !default;
$muted: #e0d0a6 !default;
$white: #ffffff !default;
$disabl: #e0e0e0 !default;

$text_color: #333333 !default;
$text_color_light: #333333 !default;
$text_secondary_color: #5c5c5c !default;
$text_success_color: #C7FEE1 !default;

$border-radius: 1rem;
$border-sub-radius: 5rem;
$border-color: #d6d6d6;
$teble-box-bg : #b82c2217;
$teble-footer-box-bg: $white;
$nav_bg : linear-gradient(135deg, #e7373c 0%, #d15b9c 35%, #e95504 67%, #f9be00 100%);
$button_bg_red : #c11920;
$button_bg_black: #333333;
$button_bg_green: #4CAF50;
$button_bg_white: #FFFFFF;
$button_bg_blue: #185a7d;
$button_hover_red: #db1d25;
$button_hover_black: #4c4c4c;
$button_hover_green: #5CB660;
$button_hover_white: #f5f5f5;
$button_hover_blue: #1e6f9b;
$button_active_red: #b7181f;
$button_active_black: #2d2c2c;
$button_active_green: #459F49;
$button_active_white: #efeeee;
$button_active_blue: #154b68;
$button_hover_bg : linear-gradient(to right, #b82b22, #b82b22);
$button_sql_bg : #dddddd;
$button_sql_selected_bg : #bbbbbb;
$button_sql_disabled_bg : #eeeeee;

$table_td_bg_even :$white;
$table_td_bg_odd :$background;
$table_td_hover: #F5F5F5;
$space_right_left_m : 1.25rem;
$space_top_bottom_m : 1.25rem;
$space_right_left_p : 1.25rem;
$space_top_bottom_p : 0.25rem;

$header_height: 79px;

$table-header: #EBEBEB;

$h2_font_size : 1.5rem;