.search-area {
    width: 100%;
    height: auto;
    background: $background;
    border-radius: 8px;
    padding: 32px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12);
}

.search-label {
    width: 100px;
    min-width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    font-family: "Noto Sans CJK TC";
    font-size: 16px;
    line-height: 21px;
    color: $text_color;
}

.input-field {
    width: 150px;
    height: 40px;
    background: $white;
    border: 1px solid #c2c2c2;
    border-radius: 4px;
    padding: 8px;
    font-family: "Noto Sans CJK TC";
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.search-row {
    margin-right: 32px;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
}

.search-select {
    height: 40px;
    width: 150px;
    background-color: $white;

    .v-field {
        height: 40px;
    }
}

.search-tail-label {
    display: flex;
    align-items: center;
    height: 40px;
    margin-left: 5px;
    color: $secondary;
}

.search-buttons {
    display: flex;
    justify-content: flex-start;
    grid-gap: 30px;
}

.table-margin {
    margin-bottom: 16px;
}

.layout-gap {
    grid-gap: 8px;
}

/* #region Button */
.red-btn {
    background-color: $button_bg_red;
    color: $text_color_light;
}

.black-btn {
    background-color: $button_bg_black;
    color: $text_color_light;
}

.blue-btn {
    background-color: $button_bg_blue;
    color: $text_color_light;
}

.green-btn {
    background-color: $button_bg_green;
    color: $text_color_light;
}

.white-btn {
    background-color: $button_bg_white;
}

// Hover
.red-btn:hover {
    background-color: $button_hover_red;
}

.black-btn:hover {
    background-color: $button_hover_black;
}

.blue-btn:hover {
    background-color: $button_hover_blue;
}

.green-btn:hover {
    background-color: $button_hover_green;
}

.white-btn:hover {
    background-color: $button_hover_white;
}

// Active
.red-btn:active {
    background-color: $button_active_red;
}

.black-btn:active {
    background-color: $button_active_black;
}

.blue-btn:active {
    background-color: $button_active_blue;
}

.green-btn:active {
    background-color: $button_active_green;
}

.white-btn:active {
    background-color: $button_active_white;
}

/* #endregion */

.large-size {
    min-width: 118px;
}

.mini-size {
    width: 93px;
}

/* #endregion */

.no-data {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        margin-bottom: 24px;
        width: 300px;
    }

    span {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }
}

.sum-info {
    grid-gap: 30px;
    display: flex;

    .sum-title {
        color: #333333;
        font-size: 18px;
    }

    .sum-context {
        color: #b7181f;
        font-size: 18px;
    }
}

.alert-icon{
    color: $danger;
  }

#msg-dialog {
    .v-card {
        height: 200px;
        width: 450px;

        .v-card-title {
            padding: 16px 24px 0px 24px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .v-row {
                grid-gap: 8px;
                align-items: center;

                .v-icon {
                    font-size: 24px;
                }
            }
        }

        .v-card-text {
            display: flex;
            padding-left: 32px;
        }
    }


    .v-card-actions {
        padding: 0 24px 24px 24px;
        justify-content: flex-end;
    }
}

#query-dialog {
    .v-card {
        height: 70%;
        width: 80%;

        .v-card-title {
            padding: 16px 24px 8px 24px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .v-card-text {
            display: flex;
            justify-content: center;
        }
    }

    .v-card-actions {
        padding: 0 24px;
        justify-content: flex-end;
        min-height: 36px;
    }


    .query-container {
        padding: 16px 24px 24px 24px;
        height: 500px;
    }
}

#pdf-dialog {
    .v-card {
        height: 100%;
        width: 100%;
    }

    .v-card-title {
        padding: 16px 24px 8px 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

#pdf-iframe {
    height: 100%;
    width: 100%;
    margin: auto;
}