.ppb-text-field {
  max-width: 250px !important;
}
.v-field--disabled {
  background-color: #d6d6d6 !important;
}
.col_label {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 24px;
  font-size: 16px;
}
.col {
  padding: 0px 0px 0px 16px !important;
}

// handlehome.vue
.Logo-img {
  width: 167px;
  height: 40px;
}
.home-title {
  font-size: 32px;
}
.card-size {
  width: 300px;
  height: 100px;
}
.card-icon {
  height: 100%;
  padding-left: 24px;
  img {
    width: 48px;
    height: 48px;
    margin-right: 8px;
  }
  span {
    font-size: 24px;
  }
}
.PPB-footer {
  position: fixed;
  right: 24px;
  bottom: 16px;
  z-index: 100;
  h5 {
    font-size: 15px;
    margin: 0;
  }
}

.card-hover {
  cursor: pointer;
  transition: transform 0.2s;
  border: 2px solid #d6d6d6;
}
// .card-hover:hover {
//   transform: scale(1.05);
// }

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 648px;
}

.last-card {
  margin-right: auto !important;
  margin-left: 16px !important;
}

// page
.give_up {
  background-color: #272727 !important;
  color: #ffffff !important;
}
// admin
.admin-btn-black {
  background-color: #333 !important;
  color: white !important;
}
.admin-btn-red {
  background-color: #c11920 !important;
  color: white !important;
}
.admin-title {
  font-size: 32px;
}
// state-dialog
.state-dialog {
  width: 580px;
  height: 310px;
  display: flex;
  align-items: center;
   flex-direction: column;
  justify-content: center;
  padding: 5px;

}
.error-dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 580px;
  height: 310px;
  padding: 5px;
}
.state-yes {
  background-color: #db1d25 !important;
  color: white !important;

}
.state-no {
  background-color: black !important;
  color: white !important;
  margin-right: 6px !important;
}
